.leaveTypeLabel{
    --padding-bottom: -20px;
    height: 20px;
}

.leaveTypeItem{
    --padding-bottom: -20px;
    height: 20px;
}

.leaveItemCard{
    height: 20px;
    --padding-bottom: 200px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 90px;
}

.applyLeaveButton{
    --box-shadow: 5px;
}

