ion-content{
    --background: linear-gradient(150deg, #00FFFF, #A60099);
}

ion-item{
    --background: none;
}

ion-button{
    --background: #00FFFF;
    --background-activated: #009696;
}

#login-title{
    color:  #FFFFFF;
    font-size: 3em;
    text-align: center;
}

#email-input{
    --background: #000000;
    opacity: 50%;
    --color: #FFFFFF;
    --padding-start: 5px;
    
}

ion-label{
    padding-left: 10px;
}

ion-row{
    height: 33%;
    --border-color: #000000;
    align-items: center;
}

ion-col{
    align-items: center;
}

ion-grid{
    --ion-grid-height: 100%;
    height: 100%;
    --ion-grid-width-xs: 100%;
    --ion-grid-width-sm: 540px;
    --ion-grid-width-md: 720px;
    --ion-grid-width-lg: 960px;
    --ion-grid-width-xl: 1140px;
}

#col1{
    background:#000000
}

/* #col2{
} */

#col3{
    background:#1e0749
}
