ion-col{
    align-items: center;
    --background: #000;
}

ion-grid{
    
    --ion-grid-height: 100%;
    height: 100%;
    --ion-grid-width-xs: 100%;
    --ion-grid-width-sm: 540px;
    --ion-grid-width-md: 720px;
    --ion-grid-width-lg: 960px;
    --ion-grid-width-xl: 1140px;
}

p{
    text-align: center;
    font-size: 62px;
}

#login-title{
    color:  #FFFFFF;
    font-size: 3em;
    text-align: center;
}


ion-row{
    height: 50%;
    --border-color: #000000;
    align-items: center;
}


ion-grid{
    --ion-grid-height: 100%;
    height: 100%;
    --ion-grid-width-xs: 100%;
    --ion-grid-width-sm: 540px;
    --ion-grid-width-md: 720px;
    --ion-grid-width-lg: 960px;
    --ion-grid-width-xl: 1140px;
}

